.star-wrapper {
  position: relative;
  display: inline-block;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffd153;
}

.star-wrapper::before, .stars::before {
  font-family: 'FontAwesome';
  content: "\f005 \0020 \f005 \0020 \f005 \0020 \f005 \0020 \f005";
  background: transparent;
}
