.btn-success {
  font-size: 1rem;
  width: 100%;
  color: #FFF;
  background: var(--green);
  border: 0;
  padding: 0 2rem;
  border-radius: 0.25rem;
  height: 3rem;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: filter 0.2s;
}

.btn-sucess:hover {
  filter: brightness(0.9);
}

.btn-delete {
  font-size: 1rem;
  width: 12rem;
  color: #FFF;
  background: var(--red);
  border: 0;
  padding: 0 2rem;
  border-radius: 0.25rem;
  height: 3rem;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: filter 0.2s;
}

.btn-sucess:hover {
  filter: brightness(0.9);
}


